@font-face {
    font-family: Sora;
    src: url(../fonts/sora.ttf);
}

@keyframes flyIn {
    0% {
        transform: translateY(100vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

html, body{
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body{
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.p1{
    flex-direction: column;
}

h1,h2,h3,h4,h5,h6,p,a,button,input{
    font-family: Sora;
}

input{
    height: 80px;
    width: 500px;
    border: 0;
    border-radius: 30px;
    background-color: #00000076;
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

#bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse, #000000,#102700d8);
    z-index: -10;
}

#cards {
    position: relative;
    display: flex;
}

.card{
    transform: translateY(100vh);
    width: 360px;
    height: 504px;
    background-color: #ffffff;
    border: black solid 20px;
    border-radius: 25px;
    margin: 0;
    padding: 0;
    position: relative;
    margin-left: -300px;
    transition: all .3s ease;
}

.card:hover{
    margin-top: -40px;
}

.card:first-child{
    margin-left: 0;
}

.timg,.bimg{
    width: 70px;
    height: auto;
    position: absolute;
}

.timg{
    top: 60px; 
    left: 5px;
}

.bimg{
    rotate: 180deg;
    bottom: 60px;
    right: 5px;
}

.mimg{
    width: 350px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header{
    color: white;
    position: absolute;
    top: 20px;
    margin: 0;
    font-size: 2rem;
    background-color: transparent;
    border: 0;
    font-weight: 700;
}

#header:hover{
    pointer-events: pointer;
}

.hover-text-btn .hover-text {
  display: none;
}

.hover-text-btn:hover .default-text {
  display: none;
}

.hover-text-btn:hover .hover-text {
  display: inline;
}

#headerclose{
    color: rgb(0, 0, 0);
    position: absolute;
    bottom: 20px;
    margin: 0;
    font-size: 2rem;
    background-color: transparent;
    border: 0;
    font-weight: 700;
}

#headerclose:hover{
    pointer-events: pointer;
}

#actionbar{
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 40%;
    position: absolute;
    background-color: #fffadb;
    border-radius: 0 0 40px 40px;
    transform: rotateX(90deg);
    transform-origin: top center;
    transition: all ease .5s;
}

#actionbar.active{
    transform: rotateX(0deg);
}

#highscore{
    margin: 0;
    color: white;
    position: absolute;
    left: 4%;
    font-size: 2rem;
    top: 20px;
    z-index: -5;
}

#hit, #stand{
    width: 45%;
    height: 60%;
    margin: auto;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 0;
    transition: all .2s ease;
}

#hit{
    background-color: #00ee14;
}

#hit:hover{
    background-color: #00b20f;
}

#stand{
    background-color: #ff1e1e;
}

#stand:hover{
    background-color: #be0f0f;
}

#start{
    color: white;
    margin: 20px;
    font-size: 2.4rem;
}

h2{
    text-align: center;
    margin: 0;
    font-size: 3rem;
}

h6{
    color: black;
    margin: 0;
    padding: 0;
    font-size: 3.4rem;
    position: absolute;
}

.ttext{
    top: 10px; 
    left: 15px;
}

.btext{
    rotate: 180deg;
    bottom: 10px;
    right: 15px;
}

footer{
    position: fixed;
    background-color: none;
    color: #ffffff;
    text-align: center;
    width: 100%;
    bottom: 0;
    font-size: 1.3rem;
    padding: 16px;
    font-family: Sora;
    font-weight: 500;
}

.invisible{
    display: none;
}