@font-face {
    font-family: Sora;
    src: url(../fonts/sora.ttf);
}

html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body{
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,h2,h3,h4,h5,h6,p,a{
    font-family: Sora;
}

#bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #102700d8;
    z-index: -10;
}

#cards {
    position: relative;
    display: flex;
}

.card{
    width: 360px;
    height: 504px;
    background-color: #ffffff;
    border: black solid 20px;
    border-radius: 25px;
    margin: 0;
    padding: 0;
    position: relative;
    margin-left: -300px;
    transition: all .3s ease;
}

.card:hover{
    margin-top: -60px;
}

.card:first-child{
    margin-left: 0;
}

h6{
    color: black;
    margin: 0;
    padding: 0;
    font-size: 3.4rem;
    position: absolute;
}

.ttext{
    top: 10px; 
    left: 15px;
}

.btext{
    rotate: 180deg;
    bottom: 10px;
    right: 15px;
}